.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}
.link{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.item{
    border-radius: 50px;
    border:1px solid #000;
    margin-bottom: 15px;
}